<div class="container-fluid">
  <div class="row text-center navbar p-3" >
    <div class="col-1">
      <button type="button" mat-button [routerLink]="'Home'">
        <span style="color: white;" class="fs-4"> USERS</span>
      </button>
    </div>
    <div class="col-1">
      <button type="button" mat-button [routerLink]="'addUser'">
        <span style="color: white;" class="fs-5">Add User</span>
      </button>
    </div>
    <div class="col-10"></div>
  </div>
  <router-outlet></router-outlet>
  <ng-confirm></ng-confirm>
</div>